<!DOCTYPE html>
<html>

  <head>
    <script data-require="jquery@*" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link data-require="bootstrap@*" data-semver="3.3.5" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link data-require="bootstrap@*" data-semver="3.3.5" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.css" />
    <script data-require="bootstrap@*" data-semver="3.3.5" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.3.5" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script data-require="angular.js@*" data-semver="1.4.6" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
    <script src="https://rawgit.com/florinszilagyi/angular-spurlvalue/master/dist/angular-spurlvalue.min.js" type="text/javascript"></script>
    <script src="https://rawgit.com/florinszilagyi/angular-spurlvalue/master/dist/angular-spurlvalue.templates.min.js" type="text/javascript"></script>  
    <style type="text/css">
  		.form-group{
  			padding: 10px;
  		}
  		
  		.form-group input {
  			margin: 5px;
  		}
		  
		.angular-spurl-viewer img {
			height: 100px;
		}
  	</style>
  </head>

  <body ng-app="app">
    <h1>SPFieldValue Directive Demo</h1>
	<hr/>
    <div ng-controller="demo">
		<div class="form-group">
			<label> Type - {{type}} </label>
			Raw Value: {{lnk}}
		</div>
		<div class="form-group">
			<label>Readonly</label>
			<input type="checkbox" ng-model="isreadonly" />
		</div>
		<div class="form-group">
			<label>Image</label>
			<input type="checkbox" ng-model="isImage" />
		</div>
		
		<hr />
		<button ng-click="setImage()">Set an image</button>
		<button ng-click="setLink()">Set a link</button>
		
		<hr />
		<h3>Result</h3>
		<div sp-url-value ng-model="lnk" image="isImage" ng-disabled="isreadonly"></div>
    </div>
  </body>
  <script type="text/javascript">
  	(function(){
		  var app = angular.module('app', ['angular-spurlvalue']);
		  app.controller("demo", function($scope){
			  var lnk = "http://www.google.com;#Google";
			  var img = "http://en.share-gate.com/~/media/Modules/EviBlog/SharegateBlog/2013/January/SharePoint-2013-Logo-Migration.ashx;#SharePoint";
			  $scope.isImage = false;
			  $scope.type = "Link";
			  $scope.lnk = lnk;
			  
			  $scope.setImage = function(){
				  $scope.lnk = img;
				  $scope.type = "Image";
				  $scope.isImage = true;
			  };
			  
			  $scope.setLink = function(){
				  $scope.isImage = false;
				  $scope.lnk = lnk;
				  $scope.type = "Link";
			  };
		  });
	  })();
  </script>
</html>
