<!DOCTYPE html>
<html>

  <head>
    <script data-require="jquery@*" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link data-require="bootstrap@*" data-semver="3.3.5" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link data-require="bootstrap@*" data-semver="3.3.5" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.css" />
    <script data-require="bootstrap@*" data-semver="3.3.5" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.3.5" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script data-require="angular.js@*" data-semver="1.4.6" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
    <script src="https://raw.githubusercontent.com/florinszilagyi/angular-spurlvalue/master/dist/angular-spurlvalue.templates.min.js" type="text/javascript"></script>
    <script src="https://raw.githubusercontent.com/florinszilagyi/angular-spurlvalue/master/dist/angular-spurlvalue.min.js" type="text/javascript"></script>
  </head>

  <body ng-app="demo-app">
    <h1>Hello Plunker!</h1>
    <div style="width: 150px" ng-controller="demo">
	    <input type="text" ng-model="lnk" />
	    <div sp-url-value="" ng-model="lnk" image="false" readonly="false" link-text="hello"></div>
    </div>
  </body>
  <script type="text/javascript">
  	(function(){
		  var app = angular.module('app', ['angular-spurlvalue']);
		  app.controller("demo", function($scope){
			  $scope.lnk = "www.google.com;#Google"
		  });
	  })();
  </script>
</html>
